# Autenticação básica (requer arquivo .htpasswd)
<Files /canal_denuncia.html>
AuthName "Please enter your ID and password"
AuthType Basic
AuthUserFile https://advogadosbp.com.br/saverhomecare/.htpasswd
Require valid-user
</Files>

# Impedir o acesso ao arquivo .htaccess
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Impedir o acesso à lista de diretórios e arquivos
Options All -Indexes